<!DOCTYPE html>
<html>
  <h2>We played <%= @you %>!</h2>
  <h2>They played <%= @them %>!</h2>
  <h2>We <%= @result %>!</h2>
  <a href="https://turbo-robot-r6r45xpjg9c5vvx-4567.app.github.dev/">Rules</a>
</html>
